{% extends "base.html" %}

{% block content %}

<h4>Trip Planner</h4>

<form method="post" hx-post="{% url 'aisession' %}" hx-target="#results" hx-swap="innerHTML" hx-indicator="#spinner"
      hx-on::after-request="if (event.detail.successful) { const prompt = this.querySelector('#prompt'); prompt.value = ''; prompt.placeholder = ''; }">
    {% csrf_token %}
    <div class="row">
        <div id="promptDiv" class="col-8 d-flex align-items-center">
            <input type="text" id="prompt" name="prompt" class="form-control" required="required" placeholder="What kind of trip would you like to take?">
        </div>
        <div class="col-1">
            <button id="btnsubmit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<div class="row pt-3">
    <span id="spinner" class="htmx-indicator">
            <span class="spinner-border spinner-border-sm"></span>
            Processing...
    </span>
    <div id="results">
        {% include "results.html" %}
    </div>
</div>


{% endblock %}
